/* Flat Dashboard page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.Flat {
  background-image: url('/images/wall.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.Flat .flat-name {
  font-family: 'Cabin Sketch', cursive;
  font-size: 5em;
  font-weight: bolder;
}

.Flat .categories-bar {
  margin-top: 20px;
  padding-top: 20px;
  background-color: rgba(255,255,255,0.9);
  border: 2px solid lightseagreen;
}

.Flat .categories-bar div {
  padding-bottom: 10px;
  font-size: 1.2em;
}

.Flat .categories-bar div a {
  color: grey;
  text-align: center;
  text-decoration: none;
}

.Flat .categories-bar div a:hover {
  text-decoration: none;
  color: lightseagreen;
}

.Flat .categories-bar div .active {
  color: lightseagreen;
}

.Flat .popout {
  background-color: rgba(255,255,255,0.8);
  margin-left: 0;
  min-height: 900px;
  border-right-style: solid;
  border-left-style: solid;
  border-right-color: lightseagreen;
  border-right-width:medium;
  border-left-color: lightseagreen;
  border-left-width: medium;
}

/* Leave Flat Button
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.LeaveFlat {
  padding-top: 30px;
  padding-left: 20px;
}
``
.LeaveFlat .LeaveButton Button {
  font-size: 1.3em;
}

/* Join Requests Component
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.JoinRequests {
  padding-top: 40px;
  padding-right: 10px;
  text-align: center;
}

.JoinRequests h2 {
  color: black;
}

.ReqList {
  padding: 10px;
}

.Request {
  list-style-type: none;
  padding: 8px 120px;
  margin-bottom: 30px;
  border: 2px solid lightseagreen;
  border-radius: 5px;
  background-color: white;
  box-sizing: border-box;
}

.Request .userLink {
  font-size: 2em;
  font-style: italic;
  color: lightseagreen;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.Request .buttons{
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
}

.Request Button {
  font-size: 1.3em;
  flex-grow: 2;
}

/*@media (max-width: 1608px) {
  .Request {
    padding: 8px 100px;
  }
}*/

@media (max-width: 1199px) {
  .JoinRequests {
    padding-top: 0px;
  }
  .Request {
    width: 25%;
    display: inline-block;
    margin: 10px;
  }
  .ReqList {
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 991px) {
  .Flat .popout {
    border: 3px solid lightseagreen;
  }
}
