.Edit .field {
  display: block;
  margin-bottom: 10px;
}

.Edit label {
  display: block;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 600;
  color: $color-label;
}

.Edit .span12 {
  text-align: center
}

.Edit select {
  border-radius: 0;
  height: 2rem;
  width: 100%;

  &:focus {
    border: 2px solid $color-primary;
    outline: none;
  }
}

.Edit body, html {
  font-size: 20px;
  height: 100%;
  width: 100%;
  margin: 0;
}

.Edit button {

    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.Edit button {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.Edit button:hover {
    background-color: #4CAF50;
    color: white;
}

.Edit .errors {
  margin: 0.5rem 0;
  color: red;

  > span {
    display: block;
    font-size: 0.8rem;
  }
}

.Edit .text-center {
  margin-top: 100px;
}

.Edit .btnUpdate {
  margin-bottom: 280px;
}
