.Footer .git-logo{
  margin-top: 8px;
  width:20px;
}

.Footer .signature h6{
  margin-top: 17px;
  text-align: center;
  color: lightgrey;
  font-size: 10px;
  margin-bottom: -25px;
  margin-left: -15px;
}

.Footer .signature .link {
  text-decoration: none;
  color: lightgrey;
}
.Footer .signature .link:hover {
  color: lightseagreen;
}

.Navigation .navbar {
  margin-bottom: 0px;
  font-family: 'Cabin Sketch', cursive;
  font-size: 1.3em;
}

.Navigation .navbar-brand img {
  display: inline-block;
}

.Navigation .navbar-brand span {
  display: inline-block;
  padding-left: 15px;
  font-size: 1.3em;
}

.Navigation .navbar-brand {
  width: 200px;
}


/* Login Modal
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.loginForm{
  display: flex;
  justify-content: space-between;
}

.loginForm label {
  padding-right: 10px;
}
