.AboutUs {
  padding-top: 30px;
}

.AboutUs .title {
  padding-bottom: 110px;
  padding-left: 15px;
  font-weight: bolder;
}

.AboutUs .body {
  padding-left: 80px;
}

.AboutUs .body .who {
  padding-right: 30px;
  border-left: 1px solid black;
}

.AboutUs .body .contact {
  padding-left: 20px;
  border-left: 1px solid black;
}

.AboutUs .teamTitle {
  padding-top: 40px;
  padding-bottom: 40px;
}

.AboutUs .team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.AboutUs h2 {
  color: lightseagreen;
}

.card{
  margin-bottom: 80px;
}
