/* Profile Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.User .user-row {
    margin-bottom: 14px;
}

.User .user-row:last-child {
    margin-bottom: 0;
}

.User .table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.User .table-user-information > tbody > tr:first-child {
    border-top: 0;
}
