.navbar {
  margin-bottom: 0px;
  font-family: 'Cabin Sketch', cursive;
  font-size: 1.3em;
}

body {
background: #ECE9E6; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #ECE9E6 , #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-size:contain;
background-position: center center;
background-repeat: repeat;
background-attachment: fixed;
min-height: 800px;
}

/*Landing page*/

.leads {
  color: #76f2dd;
  background-color: rgba(128,128,128,0.2);
  font-weight: bold;
  text-shadow: 1px 1px 1px #000000;
}

.alternate {
  text-align: right;
  color: black;
  background-color: white;
  opacity: 0.5;
}

.description1 h1 {
  color: #7fffd4;
  font-size: 70px;
  color: black;
  font-weight: bolder;
  text-shadow: 1px 1px 1px #FFFFFF;
}

.description1 {
  font-weight:bold;
  text-align: center;
  margin-top: 15%;
  padding: 2%;
}

.description2 {
  text-align: right;
  margin-top: 20%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 1%;
  padding: 2%;
  background-color: white;
  opacity: 0.6;
}

.header {
  background-image: url('/images/sofa.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 800px;
}

.height{
  min-height: 400px;
}

/* Login modal*/
.loginForm{
  display: flex;
  justify-content: space-between;
}

.loginForm label {
  padding-right: 10px;
}

/* Flat Dashboard page*/

.categories-bar {
  padding-top: 20px;
  /*padding-bottom: 100%;*/
  padding-left: 20px;
  background-color: rgba(255,255,255,0);
}

.categories-bar div {
  padding-bottom: 10px;
  font-size: 1.2em;
}

.col-md-3 {
  padding: 0;
}

.categories-bar div a {
  color: grey;
  text-align: center;
  text-decoration: none;
}

.categories-bar div a:hover {
  text-decoration: none;
  color: lightseagreen;
}

.navbar-brand {
  width: 200px;
}

.popout {
  background-color: white;
  margin-left: 0;
  min-height: 900px;
  border-right-style: solid;
  border-left-style: solid;
  border-right-color: lightseagreen;
  border-right-width:medium;
  border-left-color: lightseagreen;
  border-left-width: medium;
}

/*profile page*/

.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}

.toppad
{
  margin-top:20px;
}

/*testing the borders*/

/*div {
  border: 1px solid red;
}*/
