.navbar {
  margin-bottom: 0px;
}

/*Landing page*/

.leads {
  color: #76f2dd;
  background-color: rgba(128,128,128,0.2);
  font-weight: bold;
  text-shadow: 1px 1px 1px #000000;
}

.alternate {
  text-align: right;
  color: black;
  background-color: white;
  opacity: 0.5;
}

.description1 h1 {
  color: #7fffd4;
  font-size: 70px;
  color: black;
  font-weight: bolder;
  text-shadow: 1px 1px 1px #FFFFFF;
}

.description1 {
  font-weight:bold;
  text-align: center;
  margin-top: 15%;
  padding: 2%;
}

.description2 {
  text-align: right;
  margin-top: 20%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 1%;
  padding: 2%;
  background-color: white;
  opacity: 0.6;
}

.header {
  background-image: url('/images/background.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 800px;
}

.height{
  min-height: 400px;
}

/* Login modal*/
.loginForm{
  display: flex;
  justify-content: space-between;
}

.loginForm label {
  padding-right: 10px;
}

/* Dashboard page*/
.categories-bar {
  padding-top: 20px;
  padding-bottom: 100%;
  padding-left: 20px;
}

.categories-bar div {
  padding-bottom: 10px;
  font-size: 1.2em;
}

.col-md-3 {
  padding: 0;
}

.categories-bar div a {
  color: grey;
  text-align: center;
  text-decoration: none;
}

.categories-bar div a:hover {
  text-decoration: none;
  color: white;
}

.navbar-brand {
  width: 200px;
}

/*JoinPage*/
.formShape {
  width: 380px;
}

.titleJoinForm label {
  justify-content: right;

}

/*testing the borders*/

div {
  border: 1px solid red;
}
