.header {
  background-image: url(http://2.design-milk.com/images/2015/02/Homepolish-Benni-Benedetta-Amadi-SF-1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.description {
  /*margin-top: 15%;*/
  background-color: white;
  opacity: 0.6;
}

.description h1 {
  color: black;
  font-weight: bold;
}
