.navbar {
  margin-bottom: 0px;
  font-family: 'Cabin Sketch', cursive;
  font-size: 1.3em;
}

/*Landing page*/

.leads {
  color: #76f2dd;
  background-color: rgba(128,128,128,0.2);
  font-weight: bold;
  text-shadow: 1px 1px 1px #000000;
}

.alternate {
  text-align: right;
  color: black;
  background-color: white;
  opacity: 0.5;
}

.description1 h1 {
  color: #7fffd4;
  font-size: 70px;
  color: black;
  font-weight: bolder;
  text-shadow: 1px 1px 1px #FFFFFF;
}

.description1 {
  font-weight:bold;
  text-align: center;
  margin-top: 15%;
  padding: 2%;
}

.description2 {
  text-align: right;
  margin-top: 20%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 1%;
  padding: 2%;
  background-color: white;
  opacity: 0.6;
}

.header {
  background-image: url('/images/background.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 800px;
}

.height{
  min-height: 400px;
}

/* Login modal*/
.loginForm{
  display: flex;
  justify-content: space-between;
}

.loginForm label {
  padding-right: 10px;
}

/* Dashboard page*/
.categories-bar {
  padding-top: 20px;
  padding-bottom: 100%;
  padding-left: 20px;
}

.categories-bar div {
  padding-bottom: 10px;
  font-size: 1.2em;
}

.col-md-3 {
  padding: 0;
}

.categories-bar div a {
  color: grey;
  text-align: center;
  text-decoration: none;
}

.categories-bar div a:hover {
  text-decoration: none;
  color: white;
}

.navbar-brand {
  width: 200px;
}

<<<<<<< HEAD
/*JoinPage*/
.input-group {
  width: 340px;
  border-radius: 3px;
}

.globalJoinForm  {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin: 5%;
  text-align: right;
}
@media screen and (max-width: 767px) and (min-width: 400px) {
    .globalJoinForm {
        text-align: left;
  }
}
@media screen and (max-width: 767px) and (min-width: 400px) {
    .titleJoinForm label{
        padding-top: 0px;
  }
}

.input-group-lg {
  margin: 2%;
  height: 40px;
}

.titleJoinForm label{
  text-align: right;
  padding-top: 4%;
  padding-left: 0px;
}

.submitJoinBtn {
  width: 100px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.joinTitle h1 {
  text-align: center;
  margin-bottom: 35px;
}

.containerJoin {
  border: 1px solid grey;
  margin: 10px;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 3px 20px 0px rgba(0,0,0,1);
  -moz-box-shadow: 0px 3px 20px 0px rgba(0,0,0,1);
  box-shadow: 0px 3px 20px 0px rgba(0,0,0,1);
}

.errors {
  color: red;
  /*height: 20px;
  text-align: right;*/
}
=======
/*profile page*/

.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}

.toppad
{
  margin-top:20px;
}

>>>>>>> dev
/*testing the borders*/

/*div {
  border: 1px solid red;
}*/
