body {
  background: #ECE9E6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ECE9E6 , #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size:cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 800px;
  font-family: 'Montserrat', sans-serif;
  /*background-image: url('/images/sofa.jpg');*/
}

.navbar {
  margin-bottom: 0px;
  font-family: 'Cabin Sketch', cursive;
  font-size: 1.3em;
}

.navbar-brand img {
  display: inline-block;
}
.navbar-brand span {
  display: inline-block;
  padding-left: 15px;
  font-size: 1.3em;
}

.navbar-brand {
  width: 200px;
}

/* Login Modal
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.loginForm{
  display: flex;
  justify-content: space-between;
}

.loginForm label {
  padding-right: 10px;
}



.navbar-brand {
  width: 200px;
}

/* Join Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.input-group {
  width: 340px;
  border-radius: 3px;
}

.bg-join {
  background-image: url('/images/table.jpg');
  background-size:100%;
  min-height: 800px;
}
.containerJoin {
  background-color: #fff;
}

.globalJoinForm  {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin: 5%;
  text-align: right;
}

@media screen and (max-width: 767px) and (min-width: 200px) {
  .globalJoinForm {
    text-align: left;
  }
}

@media screen and (max-width: 767px) and (min-width: 200px) {
  .titleJoinForm label{
    padding-top: 0px;
  }
}

@media screen and (max-width: 767px) and (min-width: 200px) {
  .errors {
    font-size: 0.8em;
  }
}

.input-group-lg {
  margin: 2%;
  height: 30px;
}

.titleJoinForm label{
  text-align: right;
  padding-top: 4%;
  padding-left: 0px;
}

.submitJoinBtn {
  width: 100px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.joinTitle h1 {
  text-align: center;
  margin-bottom: 35px;
}

.containerJoin {
  border: 1px solid grey;
  margin: 10px;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 3px 20px 0px rgba(0,0,0,1);
  -moz-box-shadow: 0px 3px 20px 0px rgba(0,0,0,1);
  box-shadow: 0px 3px 20px 0px rgba(0,0,0,1);
}

.errors {
  color: red;
  /*height: 20px;
  text-align: right;*/
}

.popout {
  background-color: rgba(255,255,255,0.8);
  margin-left: 0;
  min-height: 900px;
  border-right-style: solid;
  border-left-style: solid;
  border-right-color: lightseagreen;
  border-right-width:medium;
  border-left-color: lightseagreen;
  border-left-width: medium;
}

/* Profile Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}

.toppad
{
  margin-top:20px;
}

/*Contact Component*/
#contacts-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
}
/* MODALS ------------------------------------------------ */


.modal-input {
  margin-left: 10px;
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.git-logo{
  margin-top: 8px;
  width:20px;
}

.signature h6{
  margin-top: 17px;
  text-align: center;
  color: lightgrey;
  font-size: 10px;
  margin-bottom: -25px;
  margin-left: -15px;
}

/*testing the borders*/
/*
div {
  border: 1px solid red;
}*/
